<!-- Background Image Top -->
<div class="image__top"></div>
<!-- Background Image Bottom -->
<div class="image__bottom"></div>
<!-- Card -->
<div class="card__container">
  <!-- Banner -->
  <div class="card">
    <div class="card__banner"></div>
    <!-- Logo -->
    <div class="card__master__logo">
      <div class="card__container__logo">
        <div class="card__logo">
        </div>
      </div>
    </div>
    <!-- Name & Age -->
    <div class="card__title">
      <span class="card__name">Victor Crest</span>
      <span class="card__age">26</span>
    </div>
    <!-- City -->
    <div class="card__city__container">
      <span class="card__city">London</span>
    </div>
    <hr>
    <!-- Social -->
    <div class="card__social__container">
      <div class="card__social__items">
        <!-- Followers -->
        <div class="card__social__item">
          <span class="card__social__item">80K</span>
          <span class="card__social__label">Followers</span>
        </div>
        <!-- Likes -->
        <div class="card__social__item">
          <span class="card__social__item">803K</span>
          <span class="card__social__label">Likes</span>
        </div>
        <!-- Photos -->
        <div class="card__social__item">
          <span class="card__social__item">1.4K</span>
          <span class="card__social__label">Photos</span>
        </div>
      </div>

    </div>
  </div>
</div>
