/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Kumbh Sans';
  background:hsl(185, 75%, 39%);
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
}

*,*::after,*::before{
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}
